.heroContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.heroTitleContainer {
    flex: 1;
    padding: 5%;
}

.heroTitleContainer h1 {
    font-size: 70px;
    padding-bottom: 5%;
    border-bottom: solid black;
}

.heroTitleContainer h2 {
    text-align: left;
    font-size: 50px;
}

.heroTitleContainer h1 {
    text-align: left;
}

.heroTitleContainer p {
    margin-top: 10%;
    font-size: 20px;
    opacity: 0;
    color: black;
}
.heroImgContainer {
    flex: 1;
    width: 50%;
}
.heroImage {
    width: 100%;
    float: right;
    -webkit-mask-image: linear-gradient(to right, transparent, black 25%),
                        linear-gradient(to top, transparent, black 25%);
    mask-image: linear-gradient(to right, transparent, black 25%),
                linear-gradient(to top, transparent, black 25%);
    -webkit-mask-composite: source-in;
}

.skillsSection {
    text-align: center;
    background-color: purple;
    padding-top: 10%;
}

.skillsSection h2 {
    margin: 0;
}

.skillsSection {
    font-size: 40px;
}

.skillsContainer {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25vh;
    height: 100vh;
}
.projectsSection {
    padding: 0;
}
.projectsSection h2 {
    font-size: 400px;
    margin: 0;
    padding: 0;
    transform: translateY(-280px);
}

.projectsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    justify-content: center;
    clip-path: inset(-25px 0 0 0);
}

.projectsContainer > * {
    opacity: 0;
    transform: translateY(-200vh);
}
