.card {
    width: 66%;
    min-height: 60vh;
    border-radius: 20px;
    padding: 0 5% 0 5%;
    background-color: #e1c693;
    color: white;
}

.card h3 {
    font-size: 60px;
    text-align: left;
}

.card p {
    margin-top: 10%;
    font-size: 25px;
}
