.card {
    width: 66%;
    min-height: 60vh;
    border-radius: 20px;
    padding: 20px;
    background-color: #1876ea;
}

.card h3 {
    font-size: 35px;
    text-align: left;
}

.card p {
    margin-top: 15%;
    font-size: 25px;
}
